## SLIM for market basket analysis
In this example, we are going to train a SLIM model on a transactional database

SLIM uses the [Minimum Description Length](https://en.wikipedia.org/wiki/Minimum_description_length) principle
to make pattern mining easier, as the resulting patterns will be a **lossless compression of the original data**

You end up having less data to consider, and your life just gets easier

In [1]:
import pandas as pd
from skmine.itemsets import SLIM
from skmine.preprocessing import TransactionEncoder

SLIM can be used to perform Market Basket Analysis

Here we define a set of transactions containing items bought in a store

In [2]:
transactions = [
    ['bananas', 'milk'],
    ['milk', 'bananas', 'cookies'],
    ['cookies', 'butter', 'tea'],
    ['tea'], 
    ['milk', 'bananas', 'tea'],
]
D = TransactionEncoder().fit_transform(transactions)
D

   bananas  butter  cookies  milk  tea
0        1       0        0     1    0
1        1       0        1     1    0
2        0       1        1     0    1
3        0       0        0     0    1
4        1       0        0     1    1

In [3]:
slim = SLIM()
slim.fit(D)

(milk, bananas)    [0, 1, 4]
(tea)              [2, 3, 4]
(cookies)             [1, 2]
(butter)                 [2]
dtype: object

----------
What if a new user comes to the store and buy some items ?
We add its shopping cart to the data, like so

In [4]:
transactions.append(['jelly', 'bananas', 'cookies'])
D = TransactionEncoder().fit_transform(transactions)
D

   bananas  butter  cookies  jelly  milk  tea
0        1       0        0      0     1    0
1        1       0        1      0     1    0
2        0       1        1      0     0    1
3        0       0        0      0     0    1
4        1       0        0      0     1    1
5        1       0        1      1     0    0

Just retraining SLIM will give us a freshly updated summary of our market baskets

In [5]:
SLIM().fit(D)

(jelly, bananas)          [5]
(tea, butter)             [2]
(milk, bananas)     [0, 1, 4]
(cookies)           [1, 2, 5]
(tea)                  [3, 4]
dtype: object