In [1]:
## Encoding categorical variables into sklearn

In [2]:
%load_ext autoreload
%autoreload 2

Often in machine learning we have to deal with categorical variables, drawn from a set of discrete values. 
If the set of possible values for this variables is big, representing them as numeric tabular data will result in very high dimension matrices.
Let's take a look at how sklearn does this

In [3]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, OneHotEncoder
#from sklearn.feature_extraction.text import TfidfVectorizer  #TODO

In [44]:
X = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
X = [[word.lower() for word in line[:-1].split(" ")] for line in X]

In [45]:
mlb = MultiLabelBinarizer(sparse_output=False)
mlb.fit(X)
pd.DataFrame(mlb.transform(X), columns=mlb.classes_)

,and,document,first,is,one,second,the,third,this
0,0,1,1,1,0,0,1,0,1
1,0,1,0,1,0,1,1,0,1
2,1,0,0,1,1,0,1,1,1
3,0,1,1,1,0,0,1,0,1

In [46]:
from skmine.preprocessing import SLIMTransformer

In [47]:
slim_res = SLIMTransformer(k=5, strategy="one-hot").fit_transform(X)
slim_res

,"(is, the, this, document)",(first),"(one, is, this, the, and)",(second),(third)
0,1.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0
3,1.0,1.0,0.0,0.0,0.0

In [15]:
>>> from sklearn.feature_extraction.text import TfidfVectorizer
>>> corpus = [
...     'This is the first document.',
...     'This document is the second document.',
...     'And this is the third one.',
...     'Is this the first document?',
... ]
>>> vectorizer = TfidfVectorizer()
>>> X = vectorizer.fit_transform(corpus)
>>> print(vectorizer.get_feature_names())
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
>>> print(X.shape)
(4, 9)

In [16]:
tfidf_res = pd.DataFrame(vectorizer.transform(corpus).toarray(), columns=vectorizer.get_feature_names())
tfidf_res

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085